body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6fdfd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.hidden {
  display: none !important;
}


.wrapper {
  margin-inline: auto;
  width: 700px;
  padding-top: 20px;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #167e70;
  border-bottom: 3px solid #192e31;
}

.title-container {
  text-align: center;
}

.navigation-title {
  color: #192e31;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #167e70;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mode-prompt {
  font-size: 16px;
  font-weight: 600;
  font-style: oblique;
  color: #020908;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mode-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
  /* border: 2px solid lime; */
}

.mode-button-container > button {
  background-color: #12685d;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  height: 40px;
  margin-left: 4px;
  margin-right: 4px;
}

.mode-button-container > button:hover {
  cursor: pointer;
  background-color: #192e31;
}

.active-mode {
  background-color: #192e31 !important;
}

.form-container {
  width: 100%;
}

.input-container {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-radios {
  width: 50%;
  padding-right: 2%;
}

.input-radio-option {
  margin-bottom: 10px;
}

#compounding-period-container {
  height: auto !important;
}

#payment-period-container {
  height: auto !important;
}

#payment-timing-container {
  height: auto !important;
}

.input-labels {
  color: #020908;
  display: flex;
  align-items: start;
  padding-left: 2%;
  font-size: 16px;
  font-weight: bold;

}

.input-fields {
  border: 2px solid #b1b1b1;
  margin-right: 2%;
  border-radius: 6px;
  width: 50%;
}

.submit-button-container {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  text-align: center;
}

#submit-button {
  color: white;
  border: none;
  background-color: #244247;
  width: 50%;
  height: 100%;
  border-radius: 8px;
  font-size: 20px;
}

#submit-button:hover {
  cursor: pointer;
}